* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
    background: var(--grey);
	overflow-x: hidden;
}






.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-1 {
    margin-top: 1rem;
}

a {
    color: $color-primary;
}


.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}