---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main class="page-expenses">
		<div class="card bg-warning">
			<div class="card__header">
				<p class="card__header_title">Usuarios</p>
			</div>
			<div class="card__body">
				<p class="card__header_title">23</p>
			</div>
		</div>
		<div class="card bg-success">
			<div class="card__header">
				<p class="card__header_title">Nuevas ordenes</p>
			</div>
			<div class="card__body">150</div>
		</div>
		<div class="card bg-primary">
			<div class="card__header">
				<p class="card__header_title">Porcentaje de rebote</p>
			</div>
			<div class="card__body">23%</div>
		</div>
		<div class="card bg-secondary">
			<div class="card__header">
				<p class="card__header_title">Usuarios registrados</p>
			</div>
			<div class="card__body">55</div>
		</div>
	</main>
</Layout>
