---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="page-piezas m1">
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Cards</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointe shadow1">
                <div class="card__header">
                    <p class="card__header_title">Sliders</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer shadow1">
                <div class="card__header">
                    <p class="card__header_title">Rating</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                    <button class="btn btn--primary" id="generate-qr">Generar código QR</button>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Buttons</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Loadings</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Layouts</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Buttons</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Icons</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="card cursor-pointer">
                <div class="card__header">
                    <p class="card__header_title">Sidebar</p>
                    <a class="mt-1" href="#" id="qrEnlace" target="_blank"></a>
                </div>
                <div class="card__body">
                    <p class="card__body__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero deserunt voluptatem, illum rerum quis voluptatum?</p>
                
                </div>
            </div>
        </div>
    </main>
</Layout>
