<div class="config config--position-fixed">
    <div class="config__item">
        <div class="point1"></div>
    </div>
    <div class="config__item">
        <div class="point2"></div>
    </div>
    <div class="config__item">
        <div class="point3"></div>
    </div>
    <div class="config__item">
        <div class="point4"></div>
    </div>
</div>