@import 'utilities/variables';
@import 'utilities/functions';
@import 'utilities/mixins';

@import 'base/reset';

@import 'components/buttons';
@import 'components/cards';
@import 'components/config';
@import 'components/input';
@import 'components/qr';
@import 'components/textarea';

@import 'layout/header';
@import 'layout/form';
@import 'layout/sidebar';

:root {
    --poppins:          $poppins;
    --lato:             $lato;

    --light:            $light;
    --blue:             $blue;
    --light-blue:       $light-blue;
    --grey:             $grey;
    --dark-grey:        $dark-grey;
    --dark:             $dark;
    --red:              $red;
    --yellow:           $yellow;
    --light-yellow:     $light-yellow;
    --orange:           $orange;
    --light-orange:     $light-orange;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}












/*


https://latteandcode.medium.com/c%C3%B3mo-organizar-los-archivos-sass-de-tu-proyecto-c8b02242d95


sass/
|
|– utilities/
|   |– _variables.sass    // Variables
|   |– _functions.sass    // Funciones
|   |– _mixins.sass       // Mixins
|
|– base/
|   |– _reset.sass        // Reset/normalize
|   |– _typo.sass   // Tipografías
|
|– components
|   |– _buttons.acss      // Bot
|   |– _jumbo.sass     // Jumbo
|
|– layout/
|   |– _navigation.sass   // Navegación
|   |– _grid.sass         // Grid
|   |– _header.sass       // Header
|   |– _footer.sass       // Footer
|   |– _forms.sass        // Formularios
|
|– views/
|   |– _home.sass         // Estilos de la página de inicio
|   |– _contact.sass      // Estilos de la página de contacto
|
|– themes/
|   |– _theme.sass        // Default theme
|   |– _admin.sass        // Admin theme
|
|– vendors/
|   |– _bootstrap.sass    // Bootstrap
|   |– _jquery-ui.sass    // jQuery UI
|
|– main.sass              // Archivo principal

*/