/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$color-black: #000000;
$color-primary: #239937;
$text-color: #000;


// Definición de variables personalizadas
:root {
  // --color-black: #{$color-black};
  --color-primary: #{$color-primary};
  // --text-color: #{$text-color};

  --primary-color: #FFD700;
  --primary-color-light: #FFE6AD;
  --primary-color-dark: #C9A200;

  --secondary-color: #1877F2;
  --secondary-color-light: #4A8CFA;
  --secondary-color-dark: #0A5CCE;
  
  --accent-color: #CCCCCC;
  --bg-color: #FFFFFF;
  --text-color: #1f1f1f;
  --subtext-color: #6B6B6B;
  --border-color: #E0E0E0;
  --error-color: #FF0000;
  --success-color: #008000;
  --warning-color: #FFA500;
}

@import './layouts/header';
@import './layouts/sidebar';
@import './layouts/footer';

@import './components/config';





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  min-height: 100vh;
  position: relative;
}