<footer class="footer">
    <div class="footer__content">
        <p>© 2023 Todos los derechos reservados</p>
        <p>Desarrollado por: <a href="https://github.com/johnalejandrohr" target="_blank">John Alejandro</a></p>
    </div>
</footer>