  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ingresar Gasto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="form">
                <div class="form__group">
                    <input id="phone" class="mt-1" type="text" spellcheck="false" placeholder="Numero de telefono 312..." maxlength="15">
                </div>
                <div class="form__group">
                    <input id="phone" class="mt-1" type="text" spellcheck="false" placeholder="Numero de telefono 312..." maxlength="15">
                    <input id="phone" class="mt-1" type="text" spellcheck="false" placeholder="Numero de telefono 312..." maxlength="15">
                </div>
                <div class="form__group">
                    <textarea id="message" class="mt-1" name="" id="" rows="4" placeholder="Mensaje..."></textarea>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-sm btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vertically centered modal -->
<div class="modal-dialog modal-dialog-centered">
    
</div>
  
<!-- Vertically centered scrollable modal -->
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    
</div>