 <!-- Sidebar -->
 <sidebar class="sidebar" id="sidebar">
    <div class="sidebar__brand">
        <div class="sidebar__brand_item">
            <p class="sidebar__brand_title">JEX&UIKIT</p>
        </div>
        <div class="sidebar__brand_item" id="btn-toggle1">
            <i class="fa-sharp fa-solid fa-share fa-flip-horizontal" style="color:#fff"></i>
        </div>
    </div>
    <div class="sidebar__profile">
        <div class="sidebar__profile_item">
            <img src="https://adminlte.io/themes/v3/dist/img/user8-128x128.jpg" alt="profile"
                class="sidebar__profile_img">
        </div>
        <div class="sidebar__profile_item">
            <p class="sidebar__profile_name">John Doe</p>
        </div>
    </div>
    <div class="sidebar__menu">
        <ul class="list">
            <li class="list__item a--disabled">
                <i class="bi bi-person"></i>
                <a class="a--disabled" href="#">Perfíl</a>
            </li>
            <li class="list__item a--disabled">
                <i class="bi bi-gear"></i>
                <a class="a--disabled" href="#">Configuracion</a>
            </li>
            <li class="list__item">
                <i class="bi bi-arrow-down"></i>
                <a href="./components.html">Components</a>
            </li>
            <li class="list__item">
                <i class="bi bi-arrow-up"></i>
                <a href="./expenses.html">Expenses</a>
            </li>
            <li class="list__item">
                <i class="bi bi-people"></i>
                <a href="./index.html">Index</a>
            </li>
            <li class="list__item">
                <i class="bi bi-door-open"></i>
                <a href="#">Salir</a>
            </li>
        </ul>
        <div class="config">
            <div class="config__item">
                <div class="point1"></div>
            </div>
            <div class="config__item">
                <div class="point2"></div>
            </div>
            <div class="config__item">
                <div class="point3"></div>
            </div>
            <div class="config__item">
                <div class="point4"></div>
            </div>
        </div>
    </div>
</sidebar>
<!-- /sidebar -->