.footer {
    background-color: $color-primary;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    color: var(--color-primary);
    padding: 2rem;
    width: 100%;
    height: 10px;
    border-top: 1px solid rgba($color-primary, 0.3);

    position: sticky;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        p {
            a {
                color: var(--color-primary);
            }
        }
    }
}
